### YamlMime:TSType
name: IPropertyPaneConfiguration
uid: '@microsoft/sp-property-pane!IPropertyPaneConfiguration:interface'
package: '@microsoft/sp-property-pane!'
fullName: IPropertyPaneConfiguration
summary: Web part configuration settings
remarks: ''
isPreview: false
isDeprecated: false
type: interface
properties:
  - name: currentPage
    uid: '@microsoft/sp-property-pane!IPropertyPaneConfiguration#currentPage:member'
    package: '@microsoft/sp-property-pane!'
    fullName: currentPage
    summary: Page to be displayed on the PropertyPane.
    remarks: ''
    isPreview: false
    isDeprecated: false
    syntax:
      content: 'currentPage?: number;'
      return:
        type: number
  - name: debounceProperties
    uid: >-
      @microsoft/sp-property-pane!IPropertyPaneConfiguration#debounceProperties:member
    package: '@microsoft/sp-property-pane!'
    fullName: debounceProperties
    summary: List of properties to debounce the `onPropertyPaneFieldChanged` event.
    remarks: >-
      If your property pane is reactive, the `onPropertyPaneFieldChanged` event
      will fire with any change to the web part properties. This may lead to
      jank for some property pane controls or web parts. You can use this
      configuration property to debounce the `onPropertyPaneFieldChanged` event
      for the properties listed; other properties will be unaffected.
    isPreview: true
    isDeprecated: false
    syntax:
      content: 'debounceProperties?: IPropertyPaneDebounceProperty[];'
      return:
        type: >-
          <xref
          uid="@microsoft/sp-property-pane!IPropertyPaneConfiguration#debounceProperties~0:complex"
          />
  - name: loadingIndicatorDelayTime
    uid: >-
      @microsoft/sp-property-pane!IPropertyPaneConfiguration#loadingIndicatorDelayTime:member
    package: '@microsoft/sp-property-pane!'
    fullName: loadingIndicatorDelayTime
    summary: >-
      Number of milliseconds to be delayed before the loading indicator is shown
      on the property pane.
    remarks: The default value is 500.
    isPreview: false
    isDeprecated: false
    syntax:
      content: 'loadingIndicatorDelayTime?: number;'
      return:
        type: number
  - name: pages
    uid: '@microsoft/sp-property-pane!IPropertyPaneConfiguration#pages:member'
    package: '@microsoft/sp-property-pane!'
    fullName: pages
    summary: Total number of pages on the PropertyPane.
    remarks: ''
    isPreview: false
    isDeprecated: false
    syntax:
      content: 'pages: IPropertyPanePage[];'
      return:
        type: >-
          <xref
          uid="@microsoft/sp-property-pane!IPropertyPaneConfiguration#pages~0:complex"
          />
  - name: showLoadingIndicator
    uid: >-
      @microsoft/sp-property-pane!IPropertyPaneConfiguration#showLoadingIndicator:member
    package: '@microsoft/sp-property-pane!'
    fullName: showLoadingIndicator
    summary: >-
      Indicates whether the loading indicator should be displayed on top of the
      property pane or not.
    remarks: >-
      This feature is intended to be used when the user is waiting on a promise
      to resolve. If set to true, overlay loading indicator appears after 500ms
      (web part author can override this behavior by using
      overlayLoadingIndicator property).


      The reason why we are not showing it immediately is that our intent is to
      never show the loading indicator. But in real life async requests could
      take long and it becomes necessary to display a loading indicator to the
      end user.
    isPreview: false
    isDeprecated: false
    syntax:
      content: 'showLoadingIndicator?: boolean;'
      return:
        type: boolean
