### YamlMime:TSType
name: ISPHttpClientConfiguration
uid: '@microsoft/sp-http-base!ISPHttpClientConfiguration:interface'
package: '@microsoft/sp-http-base!'
fullName: ISPHttpClientConfiguration
summary: Flags interface for SPHttpClientConfiguration.
remarks: ''
isPreview: false
isDeprecated: false
type: interface
properties:
  - name: defaultODataVersion
    uid: '@microsoft/sp-http-base!ISPHttpClientConfiguration#defaultODataVersion:member'
    package: '@microsoft/sp-http-base!'
    fullName: defaultODataVersion
    summary: Automatically configure the "OData-Version" header.
    remarks: >-
      When this switch is specified (i.e. not undefined): If the "OData-Version" header was not explicitly added for the
      request, then SPHttpClient will add the header to specify the version indicated by defaultODataVersion.


      NOTE: Without an 'OData-Version' header, the SharePoint server currently defaults to Version 3.0 in most cases.
      The recommended version is 4.0.
    isPreview: false
    isDeprecated: false
    syntax:
      content: 'defaultODataVersion?: ODataVersion;'
      return:
        type: <xref uid="@microsoft/sp-http-base!ODataVersion:class" />
  - name: defaultSameOriginCredentials
    uid: '@microsoft/sp-http-base!ISPHttpClientConfiguration#defaultSameOriginCredentials:member'
    package: '@microsoft/sp-http-base!'
    fullName: defaultSameOriginCredentials
    summary: Automatically configure the RequestInit.credentials.
    remarks: >-
      When this switch is true:


      If RequestInit.credentials is not explicitly specified for the request, then SPHttpClient will assign it to be
      "same-origin". Without this switch, different web browsers may apply different defaults.


      For more information, see the spec: https://fetch.spec.whatwg.org/\#cors-protocol-and-credentials
    isPreview: false
    isDeprecated: false
    syntax:
      content: 'defaultSameOriginCredentials?: boolean;'
      return:
        type: boolean
  - name: requestDigest
    uid: '@microsoft/sp-http-base!ISPHttpClientConfiguration#requestDigest:member'
    package: '@microsoft/sp-http-base!'
    fullName: requestDigest
    summary: Automatically provide an "X-RequestDigest" header for authentication.
    remarks: >-
      When this switch is true:


      If the "X-RequestDigest" header was not explicitly added for the request, then SPHttpClient will add it if the
      request is a write operation (i.e. an HTTP method other than "GET", "HEAD", or "OPTIONS"). The request digest is
      managed by the DigestCache service. In the case of a cache miss, an additional network request may be performed.
    isPreview: false
    isDeprecated: false
    syntax:
      content: 'requestDigest?: boolean;'
      return:
        type: boolean
  - name: usePopupForCookieRefresh
    uid: '@microsoft/sp-http-base!ISPHttpClientConfiguration#usePopupForCookieRefresh:member'
    package: '@microsoft/sp-http-base!'
    fullName: usePopupForCookieRefresh
    summary: Handle cookie refresh with a popup dialog
    remarks: >-
      When this switch is true popup auth will be used for handling a cookie refresh. This means the caller must handle
      the popup events. If it is undefined or false full page redirect will be defaulted to.
    isPreview: false
    isDeprecated: false
    syntax:
      content: 'usePopupForCookieRefresh?: boolean;'
      return:
        type: boolean
extends: <xref uid="@microsoft/sp-http-base!ISPHttpClientCommonConfiguration:interface" />
